# mac hidden files
.DS_Store

/assets/styles/SCSS/style.css.map
/assets/styles/SCSS/style.css
assets/styles/SCSS/Delivery.css
assets/styles/SCSS/Delivery.css.map
assets/styles/SCSS/FAQ.css
assets/styles/SCSS/stories_page.css.map
.gitignore
