body {
  background-color: black;
}

/********************************************************* header *************************************************/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px;
  margin: auto;
  margin-bottom: 70px;
}

.nav__list-items {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.nav__list-items:hover {
  color: #F5B2B6;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .header {
    padding: 5px;
    background-size: 100%;
    margin-bottom: 50px;
  }
  .header__logo-img {
    margin: 10px;
    width: 140px;
    height: 151px;
    left: 47px;
    top: 19px;
  }
}

/**********************************************header_end ***************************************************/
/************************************************about*******************************************************/
.about__header {
  font-size: 64px;
  font-family: Open Sans;
  font-weight: 600;
  font-style: normal;
  line-height: 87px;
  color: #FFFFFF;
  padding-top: 30px;
}

.about__header-delivery {
  font-size: 30px;
  font-family: Open Sans;
  font-weight: 600;
  font-style: normal;
  line-height: 87px;
  color: #FFFFFF;
}

.about__description {
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .about__header {
    font-size: 50px;
  }
  .about__header-delivery {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .about__header {
    font-size: 40px;
  }
  .about__header-delivery {
    font-size: 20px;
    line-height: 50px;
  }
}

@media (max-width: 375px) {
  .about__header {
    font-size: 30px;
    line-height: 30px;
  }
  .about__header-delivery {
    font-size: 20px;
    line-height: 50px;
  }
  .about__description {
    font-size: 12px;
  }
}

/********************************************************about_end**********************************************/
/***************************************************footer******************************************************/
.footer {
  background-color: black;
  color: white;
  padding-top: 50px;
  padding-left: 5px;
}

.footer .footer__social-network_title {
  padding-bottom: 10px;
}

.footer li {
  list-style-type: none;
}

.footer .footer__social-network {
  padding-bottom: 50px;
}

.footer .footer__addres-pochta,
.footer .footer__addres-tel,
.footer .footer__info-pay-link,
.footer .footer__info-history-link,
.footer .footer__social-network {
  color: white;
}

.footer .footer__social-network,
.footer .footer__addres,
.footer .footer__info {
  font-size: 12px;
}

.footer__info-pay-link {
  padding-bottom: 20px;
}

.footer__social-network_img {
  width: 50px;
}

.footer__info-history-link {
  padding-bottom: 50px;
}

/*************************************************footer_end********************************************/
/*# sourceMappingURL=Delivery.css.map */