body {
  background-color: black;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px;
  margin: auto;
  margin-bottom: 70px;
}

.nav__list-items {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.nav__list-items:hover {
  color: #F5B2B6;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .header {
    padding: 5px;
    background-size: 100%;
  }
  .header__logo-img {
    margin: 10px;
    width: 140px;
    height: 151px;
    left: 47px;
    top: 19px;
  }
}

/******************************section__qa******************************/
.qa {
  margin-bottom: 70px;
}

.qa__header {
  text-align: center;
  color: white;
  font-size: 70px;
  line-height: 120px;
  font-family: Open Sans;
  font-weight: 400px;
}

.qa__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: black;
}

.qa__list .qa__list-header {
  color: #FFFFFF;
  font-size: 40px;
  font-family: Open Sans;
  line-height: 87px;
  padding-top: 50px;
}

.qa__list-all {
  overflow: hidden;
  border-bottom: 1px solid white;
}

.qa__list-all .qa__list-question {
  position: relative;
  margin: 1em 0;
  padding-left: 1em;
  font-size: 1em;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.qa__list-all .qa__list-question:focus {
  color: white;
  outline: 0;
}

.qa__list-all .qa__list-question::before {
  content: '+';
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  text-align: center;
}

.qa__list-all .qa__list-question:focus::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.qa__list-all .qa__list-answer {
  display: none;
  color: #FFFFFF;
}

.qa__list-all .qa__list-question:focus ~ p {
  display: block;
}

@media (max-width: 1024px) {
  .header {
    margin-bottom: 40px;
  }
  .qa__header {
    font-size: 60px;
    line-height: 120px;
  }
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 40px;
  }
  .qa__header {
    font-size: 50px;
    line-height: 70px;
  }
  .qa__list-header {
    font-size: 30px;
  }
}

@media (max-width: 375px) {
  .header {
    margin-bottom: 30px;
  }
  .qa__header {
    font-size: 40px;
    line-height: 70px;
  }
}

/******************************section_qa_end******************************/
/******************************footer**************************************/
.footer {
  background-color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  color: white;
  padding-top: 50px;
  padding-left: 5px;
}

.footer .footer__social-network_title {
  padding-left: 10%;
  padding-bottom: 30px;
}

.footer li {
  list-style-type: none;
}

.footer .footer__social-network,
.footer .footer__social-network {
  padding-bottom: 50px;
}

.footer .footer__addres_pochta,
.footer .footer__addres_tel,
.footer .footer__info_gallery-link,
.footer .footer__info_history-link {
  color: white;
}

.footer .footer__info_history {
  padding-bottom: 60px;
}

/********************************footer_end********************************/
/*# sourceMappingURL=FAQ.css.map */