body {
    background-color: black;
    font-family: Open Sans, Arial, sans-serif;
    font-style: normal;
    color: #FFFFFF;
}

//************************ header ***************************
.header__logo-st {
    width: 40%;
}

.nav__list-items {
    text-transform: uppercase;

}

.header__nav-link {
    color: white;
    font-size: 1em;
}

.header__nav-link:hover {
    color: #F5B2B6;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
}

.cart_link {
    background-image: url('/assets/images/Cart.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40px;
    width: 40px;
}


.cart_link:hover {
    background-image: url('/assets/images/cart_rose.svg');
}


.header__title {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 200px;
    font-weight: normal;
    font-size: 4em;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width:800px) {
    .header {
        padding: 5px;
        background-size: 100%;
        margin-bottom: 50px;
    }

    .header__logo-img {
        margin: 10px;
        width: 140px;
        height: 151px;
        left: 47px;
        top: 19px;
    }
}

//************************ header end ***************************/


/******************************section__qa******************************/

.qa {
    margin-bottom: 70px;
}

.qa__header {
    text-align: center;
    font-size: 70px;
    line-height: 120px;
    font-weight: 400px;
}

.qa__list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: black;

    .qa__list-header {
        font-size: 40px;
        line-height: 87px;
        padding-top: 50px;
        list-style-type: none;
    }
}

.qa__list-all {
    overflow: hidden;
    border-bottom: 1px solid white;

    .qa__list-question {
        position: relative;
        margin: 1em 0;
        padding-left: 1em;
        font-size: 1em;
        color: white;
        cursor: pointer;
        font-size: 20px;

        &:focus {
            color: white;
            outline: 0;
        }

        &::before {
            content: '+';
            position: absolute;
            top: 0;
            left: 0;
            width: 1em;
            text-align: center;
        }

        &:focus::before {
            transform: rotate(90deg);
        }
    }

    .qa__list-answer {
        display: none;
        color: #FFFFFF;
    }

    .qa__list-question:focus~p {
        display: block;
    }
}

@media (max-width: 1024px) {
    .header {
        margin-bottom: 40px;
    }

    .qa__header {
        font-size: 60px;
        line-height: 120px;
    }
}

@media (max-width: 768px) {
    .header {
        margin-bottom: 40px;
    }

    .qa__header {
        font-size: 50px;
        line-height: 70px;
    }

    .qa__list-header {
        font-size: 30px;
    }
}

@media (max-width: 375px) {
    .header {
        margin-bottom: 30px;
    }

    .qa__header {
        font-size: 40px;
        line-height: 70px;
    }
}

/******************************section_qa_end******************************/

/******************************footer**************************************/
.footer {
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-left: 5px;

    .social-network__title {
        padding-bottom: 10px;
    }

    li {
        list-style-type: none;
    }

    .footer__social-network {
        padding-bottom: 50px;
    }

    .footer__addres-pochta,
    .footer__addres-tel,
    .footer__info-pay-link,
    .footer__info-history-link,
    .footer__social-network {
        color: white;
    }

    .footer__social-network,
    .footer__addres,
    .footer__info {
        font-size: 12px;
    }
}

.footer__info-pay-link {
    padding-bottom: 20px;
}

.footer__social-network-img {
    width: 50px;
}

.footer__info-history-link {
    padding-bottom: 50px;
}

/********************************footer_end********************************/